* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "StarWarsFont";
  src: url("./assets/Starjhol.ttf");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  font-family: "Pathway Gothic One", sans-serif;
}

h1,
h2 {
  margin: 0;
}

header {
  font-family: StarWarsFont;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid hsl(50, 100%, 60%);
  padding: 0em 1em;
  width: 100%;
  color: hsl(50, 100%, 60%);
  background: black;
  z-index: 3;
}

header h1 {
  font-size: 3em;
  margin-left: 1rem;
}

header h2 {
  font-family: "Pathway Gothic One", sans-serif;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: hsl(184, 70%, 50%);
}

.intro {
  /* font-family: StarWarsFont; */
  position: relative;
  width: 100%;
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  background: black;
  background-image: url(./assets/star-background.jpg);
  color: hsl(50, 100%, 60%);
  /* border: 1px solid white; */
  overflow-y: hidden;
  /* background: linear-gradient(green, transparent); */
  z-index: 0;
}

.intro__container {
  perspective: 800px;
  position: relative;
  /* max-width: 600px; */
}

.intro__story {
  font-size: 5em;
  /* border: 1px solid blue; */
  /* width: 70%; */
  /* height: 800px; */
  z-index: 1;
  position: relative;
  /* top: 9999px; */
  transform-origin: 50% 100%;
  animation: scroll 30s linear infinite;
}

.intro__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background: linear-gradient(
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 2;
}

@keyframes scroll {
  0% {
    top: 60vh;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -500vh;
    transform: rotateX(20deg) translateZ(-2500px);
  }
}

/* button {
  height: 5vh;
  margin: 0 1vh;
  padding: 1vh;
}

input {
  height: 6vh;
  padding: 1vh;
} */

.form__wrapper {
  background-image: linear-gradient(black, transparent);

  color: hsl(184, 70%, 50%);
  font-size: 1.5em;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__label {
  min-width: 320px;
  margin: 0.5em 0;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
}

.form__button {
  font-size: inherit;
  background-color: black;

  color: hsl(184, 70%, 50%);
  padding: 0.25em 0.5em;
  border: 3px solid;
  border-radius: 1em;
}

.form__input {
  font-size: inherit;
  background-color: black;
  padding: 0.25em;
  border: 3px solid hsl(50, 100%, 60%);
  border-radius: 1em;
  color: hsl(184, 70%, 50%);
}

.advice {
  width: 100%;
  background-color: darkolivegreen;
  background-image: url(./assets/yoda-swamp-background.jpg);
  min-height: 85vh;
}

.advice__wrapper {
  margin-top: 10vh;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 1em;
}

.advice__quote {
  border: 3px solid hsl(50, 100%, 60%);
  color: hsl(184, 70%, 50%);
  border-radius: 1rem 3rem;
  width: 60vw;
  max-width: 800px;
  min-width: 400px;
  font-size: 1.2em;
}

.advice__yodish {
  padding: 5vh;
}

.advice__yoda {
  /* border: 1px solid blue; */
  height: 40vw;
  width: 40vw;
  max-width: 400px;
  min-width: 200px;
  max-height: 400px;
  min-height: 200px;
  display: flex;
  justify-content: center;
}

.advice__yoda--img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: block;
}

footer {
  color: hsl(50, 100%, 60%);;
  display: flex;
  align-items: center;
  height: 5vh;
}

sub {
  margin-left: 1em;
}

/* Media Queries */

@media (max-width: 810px) {
  header h2 {
    display: none;
  }

  header h1 {
    margin: 0;
  }

  header {
    justify-content: center;
  }

  .intro {
    display: none;
    overflow-y: visible;
  }

  .intro__container {
    perspective: 0px;
  }

  .intro__story {
    font-size: 1em;

    transform-origin: none;
    animation: none;
  }

  .intro__overlay {
    top: 0;
    width: 0;
    height: 0%;
  }
}
