* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
font-family: "StarWarsFont";
src: url("./assets/Starjhol.ttf");
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

h1,
h2 {
  margin: 0;
}

header {
  font-family: StarWarsFont;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  border: 1px solid orange;
  padding: 0.5em;
  width: 100%;
  color: yellow;
  background: black;
  z-index: 3;
}

header h2 {
  display: flex;
  align-items: center;
  color: hsl(184,70%,50%)
}

.intro {
  font-family: StarWarsFont;
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
  background: black;
  color: yellow;
  border: 1px solid white;
  overflow-y: hidden;
  /* background: linear-gradient(green, transparent); */
  z-index: 0;
}

.intro__story {
  border: 1px solid blue;
  z-index: 1;
  animation: scroll 15s infinite;
  animation-timing-function: linear;
}

.intro__story p {
  /* text-transform: uppercase; */
}

.intro__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent);
  z-index: 2;
}

@keyframes scroll {
  0% {
    transform: perspective(400px) translateY(60%) translateZ(400px) rotateX(45deg);
  }
  100% {
    transform: perspective(400px) translateY(-60%) translateZ(-400px) rotateX(45deg);
  }
}
.form__section {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: center;
  align-items: center;
}

button {
  height: 5vh;
  margin: 0 1vh;
  padding: 1vh;
}

input {
  height: 6vh;
  padding: 1vh;
}

.advice {
  border: 1px solid green;
  height: 70vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.advice__quote {
  border: 3px solid green;
  border-radius: 1rem 3rem;
  width: 80%;
  font-size: 3vh;
}

.advice__yodish {
  padding: 5vh;
}

.advice__yoda {
  /* border: 1px solid blue; */
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.advice__yoda--img {
  max-width: 100%;
  height: 100%;
  border-radius: 100%;
}



/* Media Queries */

@media screen and (min-width: 600px) {
  
  .advice__yoda {
   width: 30%;
  }


  .advice__yoda--img {
    max-width: 100%;
  } 

  .advice__quote {
    width: 60%;
    font-size: 3vw;
  }


}